<h1 mat-dialog-title>Training on {{ data.Date }}</h1>
<div class="modalHasNotTraining">
  <div mat-dialog-content [formGroup]="trainingForm">
    <div formArrayName="exercises">
      <div
        class="row"
        *ngFor="
          let exercise of trainingForm.controls.exercises.controls;
          let i = index
        "
        [formGroupName]="i"
      >
        <mat-form-field class="col-4">
          <mat-select [(value)]="selectedExercise">
            <mat-option
              *ngFor="let exercise of exercisesList"
              [value]="exercise.exercise_name.toLowerCase()"
              >{{ exercise.exercise_name }}</mat-option
            >
          </mat-select>
        </mat-form-field>

        <mat-form-field class="col-3">
          <input
            matInput
            formControlName="Reps"
            placeholder="Reps"
            autocomplete="Reps"
          />
        </mat-form-field>
        <mat-form-field class="col-3">
          <input
            matInput
            formControlName="Weight"
            placeholder="Weight"
            autocomplete="Weight"
          />
        </mat-form-field>
        <div class="col-1">
          <button
            mat-icon-button
            color="primary"
            aria-label="Remove/clear"
            (click)="removeOrClearExcersise(i)"
            matTooltip="Remove"
          >
            <mat-icon>highlight_off</mat-icon>
          </button>
        </div>
      </div>
      <button
        class="float-left"
        mat-fab
        extended
        color="primary"
        aria-label="Add exercise"
        (click)="addExceriseFormGroup()"
        matTooltip="Add exercise"
      >
        Add exercise
        <mat-icon>add_circle_outline</mat-icon>
      </button>
      <button
        class="float-left"
        mat-fab
        extended
        color="primary"
        aria-label="Submit training"
        (click)="addTraining()"
        matTooltip="Submit training"
      >
        Submit training
        <mat-icon>add_circle_outline</mat-icon>
      </button>
    </div>
  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Close</button>
  </div>
</div>

<!-- <div class="modalHasTraining" *ngIf="hasTraining">
  <div mat-dialog-content>
    <p>Your exercises:</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button cdkFocusInitial>Ok</button>
  </div>
</div> -->
