mat-toolbar {
  margin-bottom: 25px;
}
.spacer {
  flex: 1 1 auto;
}
.mdc-evolution-chip-set {
  margin-right: 10px;
}

.menu-items {
  display: none;
}

@media (min-width: 600px) {
  .menu-items {
    display: flex;
    align-items: center;
  }
  .toggleButton {
    display: none;
  }
}
