.contentContainer {
  margin: 0 auto;
  width: 75%;
}
.contentContainerDark {
  margin: 0 auto;
  width: 75%;
  background-color: #333;
  color: white;
}
.container {
  min-width: 100%;
  padding: 0;
}
.containerDark {
  min-width: 100%;
  padding: 0;
  background-color: #333;
  color: white;
}
