.mat-form {
  display: flex;
  flex-direction: row;
}

.responsive {
  flex-wrap: wrap;
}

.mat-raised-button.mat-success,
.mat-flat-button.mat-success,
.mat-fab.mat-success,
.mat-mini-fab.mat-success {
  color: #f0fff3;
  background-color: #00ac25;
}
